---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, background_image, products, founder } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-6">
          {background_image && (
            <div class="img-cover mb-8">
              <Image
                src={background_image}
                width={295}
                height={395}
                alt={title}
                class="rounded-lg w-full"
              />
            </div>)}
        </div>
        <div class="sm:col-7 md:col-6">
          <h1 set:html={markdownify(title)} class="h3 mb-8" />

          <div class="content">
            <Content />
          </div>
          <a href="/contact" class="btn btn-primary text-white py-2"
          >Get In Touch</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <h3 class="page-heading mb-20">{products.title}</h3>
      <div class="row justify-center gy-4 text-center">
        {products.items.map((item: any) => (
          <div class="lg:col-4 md:col-6">
            <a href={item.url} target="_blank" rel="noopener">
              <i class="{{.icon}} fa-3x text-primary mb-4" />
              <h4 class="text-dark font-weight-700 mb-3">{item.title}</h4>
              <p>{item.description}</p>
              <div class="flex items-center justify-center
        font-medium
        text-gray-300
        group-hover:text-gray-100
      ">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="flex-none w-6 h-6">
                  <path
                    d="M15.712 11.823a.75.75 0 1 0 1.06 1.06l-1.06-1.06Zm-4.95 1.768a.75.75 0 0 0 1.06-1.06l-1.06 1.06Zm-2.475-1.414a.75.75 0 1 0-1.06-1.06l1.06 1.06Zm4.95-1.768a.75.75 0 1 0-1.06 1.06l1.06-1.06Zm3.359.53-.884.884 1.06 1.06.885-.883-1.061-1.06Zm-4.95-2.12 1.414-1.415L12 6.344l-1.415 1.413 1.061 1.061Zm0 3.535a2.5 2.5 0 0 1 0-3.536l-1.06-1.06a4 4 0 0 0 0 5.656l1.06-1.06Zm4.95-4.95a2.5 2.5 0 0 1 0 3.535L17.656 12a4 4 0 0 0 0-5.657l-1.06 1.06Zm1.06-1.06a4 4 0 0 0-5.656 0l1.06 1.06a2.5 2.5 0 0 1 3.536 0l1.06-1.06Zm-7.07 7.07.176.177 1.06-1.06-.176-.177-1.06 1.06Zm-3.183-.353.884-.884-1.06-1.06-.884.883 1.06 1.06Zm4.95 2.121-1.414 1.414 1.06 1.06 1.415-1.413-1.06-1.061Zm0-3.536a2.5 2.5 0 0 1 0 3.536l1.06 1.06a4 4 0 0 0 0-5.656l-1.06 1.06Zm-4.95 4.95a2.5 2.5 0 0 1 0-3.535L6.344 12a4 4 0 0 0 0 5.656l1.06-1.06Zm-1.06 1.06a4 4 0 0 0 5.657 0l-1.061-1.06a2.5 2.5 0 0 1-3.535 0l-1.061 1.06Zm7.07-7.07-.176-.177-1.06 1.06.176.178 1.06-1.061Z"
                    fill="currentColor"></path>
                </svg>
                <span class="ml-2">{item.link}</span>
              </div>
            </a>
          </div>))}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-8">
          <div class="content">
            <p>{founder.quotation}</p>
            <p class="font-medium text-gray-300">{founder.attribution}</p>
          </div>
        </div>
        <div class="sm:col-7 md:col-4">
          {image && (
            <div class="img-cover mb-8">
              <Image
                src={image}
                width={195}
                height={195}
                alt={title}
                class="rounded-lg w-full"
              />
            </div>)}
        </div>
      </div>
    </div>
  </section>
</Base>
