---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import SimilarPosts from "../layouts/components/SimilarPosts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, author_image, image, products, founder } = entry.data;
const posts = await getSinglePage("posts");
const currentPosts = sortByDate(posts);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-6">
          {image && (
            <div class="img-cover mb-8">
              <Image
                src={image}
                width={295}
                height={395}
                alt={title}
                class="rounded-lg w-full"
              />
            </div>)}
        </div>
        <div class="sm:col-7 md:col-6">
          <h1 set:html={markdownify(title)} class="h3 mb-8" />

          <div class="content">
            <Content />
          </div>
          <a href="/contact" class="btn btn-primary text-white py-2 mb-4"
          >Get In Touch</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h3 class="page-heading mb-20">{products.title}</h3>
      <div class="row flex justify-around items-center gy-4 text-center">
        {products.items.map((item: any) => (
          <div class="lg:col-4 md:col-6">
            <i class="{{.icon}} fa-3x text-primary mb-4" />
            <h4 class="text-dark font-weight-700 mb-3">{item.title}</h4>
            <p class="mb-3">{item.description}</p>
            {item.image && (<a
              href={item.url}
              class="rounded-lg block hover:text-primary overflow-hidden group"
            >
              <Image
                class="group-hover:scale-[1.05] transition duration-300 w-full"
                src={item.image}
                alt={item.title}
                width={445}
                height={230}
              />
            </a>)}
          </div>))}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-8">
          <div class="content">
            <p>{founder.quotation}</p>
            <p class="font-medium text-gray-300">{founder.attribution}</p>
            <a href="/contact" class="btn btn-primary text-white py-2 mb-4"
            >Get In Touch</a
            >
          </div>
        </div>
        <div class="sm:col-7 md:col-4">
          {author_image && (
            <div class="img-cover mb-8">
              <Image
                src={author_image}
                width={195}
                height={195}
                alt={title}
                class="rounded-lg w-full"
              />
            </div>)}
        </div>
      </div>
    </div>
  </section>
  <section class="section mb-20">
    <div class="container">
      <h3 class="page-heading mb-20">Recent Posts</h3>
      <SimilarPosts posts={currentPosts.slice(0, 3)} />
    </div>
  </section>
</Base>
